---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props
---

<div class="bg-cyan-200 p-8 relative w-full mb-12">
    <h2 class=" md:leading-loose  text-4xl md:text-6xl font-bold mb-2 text-center">
        The Official Vegan Hot Dog Rankings
    </h2>
    <!-- <div class="flex justify-center">
        <div class="mt-8 w-48 h-48 bg-white absolute rotate-45 mx-auto"></div>
    </div> -->
</div>