---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
---

<div class="p-8 relative w-full mb-12">
    <h1
        class="lg:leading-loose text-4xl md:text-6xl font-bold mb-2 text-center"
    >
        {title}
    </h1>
    <!-- <div class="flex justify-center">
        <div class="w-48 h-48 bg-orange-400 absolute top-0 rotate-45 mx-auto">
        </div>
    </div> -->
</div>
