---
export interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props as Props
---

<header class="flex flex-col justify-center items-center w-full h-screen p-4 hero-image">
    <a href="/" class="font-bold">{title}</a>
    <h2 class="text-6xl leading-none font-bold text-center mb-2 ">Welcome to <br /><span class="">{title} </span>
    </h2>
    <p class="text-center mb-6">
        {description}
    </p>

</header>

<style>
    .hero-image {
        background: linear-gradient(rgba(250, 215, 215, 0.85),
                rgba(235, 211, 211, 0.85)), url("/images/hotdog.png");
        background-size: 50vw;
    }
</style>