---
import Nav from "../components/Nav.astro"
import Hero from "../components/Hero.astro"

import config from "../config.json"

export interface Props {
	title?: string;
	description?: string;
	isHome?: boolean;
}

const { title = config.title, description = config.description, isHome } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
	<meta name="description" content={description} />
	<script is:inline src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
	<script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class="text-dark bg-light  min-h-screen scroll-smooth">
	{isHome &&
	<Hero title={title} description={description} />}
	<slot />
	<footer class="bg-theme p-8 text-xl">
		<div class="prose lg:prose-lg prose-stone mx-auto">
			<h2 class="">About Vegan Dog Rater</h2>
			<p class="">I promised my sister I'd bring her Mia Fey but… (Which Daddy was that again?) If you want tea
				that badly, buy some yourself! Cute girls never lie. Ever.</p>
			<p>
				Why, Mr. Edgeworth... I'm not sure I like you wagging your finger at me as though I were some hoser! We
				were great together! We were Romeo and Juliet, Cleopatra and Mark Anthony! (Should I be grateful this
				coffee is only hot enough to give me first degree burns?) 'To err is human, to forgive, divine.' I-I
				think I need to clear my head. I-I get it! That's why my lunch was so salty! Noooooooooooo! </p>

		</div>
	</footer>
</body>

</html>